body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #f0f4ff, #dfe9f3);
}

.Game{
    height: 540px;
    width: 630px;

    background-color: blue;
    border: 8px solid navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    height: 70px;
    width: 70px;

    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red_piece{
    background-color: red;
}

.yellow_pieces{
    background-color: yellow;
}

.topBoard{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#restartBtn{
    margin-left: 25px;
    background-color: rgb(207, 212, 207);
    padding: 5px;
    border-radius: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#restartBtn:hover{
    background-color: rgb(159, 159, 159);
}
